.Footer{
    width: 100%;
    height: auto;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
    padding-bottom: 20px;
    font-size: 16px;
    color: #a2a2a2;
    
}
svg{
    margin-top: -61px;
    vertical-align: bottom;
    margin-bottom: -1px;
    width: 100%;
    height: auto;
    fill: white;
}

.social-icons{
    display: flex;
    padding: 5px 0;
}

.social-icons a {
    padding: 0 5px;
    font-size: 3rem;
    text-decoration: none;
    color: #4b4d4f;
}